.board_container{
    font-family: 'Gamja Flower', cursive;
    min-height: 1000px;
    min-width: 700px;
}
.board-header-button{
    text-align: right;
    margin-right: 50px;
    margin-top: 50px;
}
.btn-submit{

}
.board-box{
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    height:200px;
    min-width: 500px;
    border: solid 3px #34314c;
    border-radius: 10px;
    background: #ffc952;
    padding: 20px;

}
.board-box-input{
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    height:200px;
    min-width: 500px;
    border: solid 3px #e1eef6;
    border-radius: 10px;
    background: #f6f38b;
    padding: 20px;
}
.board-title{
    font-size:50px;

}
.board-content{
    font-size: 20px;
    margin-left: 30px;
}
.title-input{
    background-color:transparent;
    border: 0px;
}
.content-input{
    background-color:transparent;
    border: 0px;
}
.board-user-id{
    font-size: 30px;
    float: right;
    display: inline-block;
}