
.main_produce{
    background-color: #0c5460;
    height: 300px;
    width: 100%;
    padding: 10px;
}
.main_produce_img{
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
#main_name{
    margin-top: 10px;
    margin-left: -50px;
    text-align: center;
    font-size: 70px;
    font-family: 'Montez', cursive;
}
#main_name_toggle{
    margin-top: 10px;
    text-align: center;
    font-size: 70px;
    font-family: 'Montez', cursive;
}


.index-flex-container1{
    display: flex;
    width:60%;
    height:200px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    min-width:700px;
}
.index-flex-container2{
    display: flex;
    width:60%;
    height:200px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    min-width:700px;
}
.index-flexbox1{
    flex: 2;
    max-width: 66%;

    border: solid 5px white;
}
.index-flexbox2{
    flex: 1;
    max-width: 33%;

    border: solid 5px white;
}
.index-flexbox3{
    flex: 1;
    max-width: 33%;

    border: solid 5px white;
}


.index-flexbox4{
    flex: 1;
    max-width: 33%;

    border: solid 5px white;
}
.index-flexbox5{
    flex: 1;
    max-width: 33%;

    border: solid 5px white;
}
.index-flexbox6{
    flex: 2;
    max-width: 66%;

    border: solid 5px white;
}

img{
    width:100%;
    height:100%;
}
#main_name{
    color: #34314c;
}
#main_name_toggle{
    color: #34314c;
}
