<!DOCTYPE html>
<html lang="en">

<head>
    <title>92Hoy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gaegu|Nanum+Gothic|Nanum+Gothic+Coding|Source+Sans+Pro|Sunflower:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <%block name="css">
</%block>
</head>

<style>
    .nav-bar{
        vertical-align: middle;
        text-align: center;
        padding: 7px;
        width:100%;
        height: 80px;
        min-width: 200px;
        background-color: slategrey;
        border: solid 1px slategrey;
    }
    .nav-text{
        vertical-align: middle;
        text-align: center;
        padding: 5px;
        margin-right: 10px;
        font-size: 35px;
        color: white;
    }
    a:hover {color:wheat;}

</style>

<body>

<div class="nav-bar">
    <a class="nav-text" href="#home">Home</a>
    <a class="nav-text" href="#news">News</a>
    <a class="nav-text" href="#contact">Contact</a>
    <a class="nav-text" href="#about">About</a>
</div>

<%block name="containor">
</%block>

<script src="/static/vendor/jquery/jquery.js"></script>
<script src="/static/vendor/sweatalert2/sweatalert2.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $( document ).ready(function() {
        console.log("Ready-");
    });
</script>
<%block name="scriptDown">

</%block>

</body>
</html>