<%inherit file="../base/base.html"/>

<%block name="css">
<link rel="stylesheet" href="/static/board/board.css">

</%block>

<%block name="containor">
<div class="board_container">
    % if 'user_id' in request.session:
    <div class="board-header-button">
        <button type="button" id="add_btn"  class="btn btn-primary btn-submit">게시글 작성</button>
        <button type="button" id="btn_add" onclick="btn_add()" class="btn btn-warning btn-submit">게시글 작성</button>
        <button type="button" id="add_cancel" class="btn btn-danger btn-submit">작성 취소</button>
    </div>

    <div class="board-box-input" id="add_board">
        <div class="board-title">
            <input type="text" id="title_input" class="title-input" placeholder="게시글 제목" >
        </div>
        <div class="board-content">
            <textarea id="content_input" rows="3" cols="100" class="content-input" placeholder="내용을 적어주세요."></textarea>
        </div>
    </div>
    %endif
  <!--
    <div class="board-box">
      <div class="board-user-id">JHY</div>
        <div class="board-title">
            <th>이 부분은 th</th>
        </div>

        <div class="board-content">
            <th>여기도 content th</th>
        </div>
    </div>
    -->
    %for board in context['board_list']:
    <div class="board-box" id="hid_${board['board_seq']}">
      <div id="board_seq" hidden>${board['board_seq']}</div>
      <div id="board_c_date" hidden>${board['create_date']}</div>
      <div class="board-user-id">${board['user_id']}</div>
      <div class="board-title">${board['title']}</div>
      <div class="board-content"> ${board['content']}</div>

      %if request.session['user_id'] == board['user_id'] or request.session['user_role']=='S':
      <div id="btn_del" class="btn btn-danger" onclick="del_btn(${board['board_seq']})">삭제</div>
      %endif
    </div>
    %endfor

</div>
<div hidden id="hidden_id">request.session['user_id']</div>
<div hidden id="hidden_role">request.session['user_role']</div>
</%block>

<%block name="scriptDown">
<script>
    $(document).ready(function() {
        console.log("ready");
        $('#add_board').hide()
        $('#add_cancel').hide()
        $('#btn_add').hide()

        $('#add_cancel').click(function(){
            $('#add_board').hide()
            $('#add_cancel').hide()
            $('#btn_add').hide()
            $('#add_btn').show()
            $('#title_input').val('')
            $('#content_input').val('')
        })
        $('#add_btn').click(function(){
            $('#add_board').show()
            $('#add_cancel').show()
            $('#btn_add').show()
            $('#add_btn').hide()
        })
    })

    function btn_add(){
        var title_input = $('#title_input').val()
        var content_input = $('#content_input').val()
        var lock=0;
        console.log("title_input = ",title_input,"content_input = ",content_input);


        if (title_input == '') {
            swal("Error","제목을 입력해 주세요", "warning");
            lock = 1;
        }
        else if(content_input == '') {
            swal("Error","내용을 입력해 주세요", "warning");
            lock = 1;
        }

        if(lock ==0){
            $.ajax({
                type: "POST",
                url: "/board/board_add",
                data: {
                    'csrfmiddlewaretoken': '${csrf_token}',
                    title_input: title_input,
                    content_input: content_input,
                },
                success: function (data) {
                    if (data.return == 'success') {
                        swal({
                            title : "Success",
                            text : "등록 완료",
                            type : "success"
                        }).then(function(){
                            location.reload()
                        });
                    }
                    else if (data.return != 'success') {
                        swal({
                            title: "Warning",
                            text: "등록 실패",
                            icon: "warning",
                            buttons: true,
                            dangerMode: false,
                        }).then(function(willDelete) {
                            if (willDelete) {
                                return
                            } else {
                                return
                            }
                        });
                    }
                },
            });
        }
    }
    function del_btn(seq) {

        var lock=0;

        if(lock ==0){
            $.ajax({
                type: "POST",
                url: "/board/board_del",
                data: {
                    'csrfmiddlewaretoken': '${csrf_token}',
                    seq: seq,
                },
                success: function (data) {
                    console.log(data);
                    if (data.return == 'success') {

                        swal({
                            title : "Success",
                            text : "삭제 완료",
                            type : "success"
                        }).then(function(){
                        //var kk = "hid_"+data.seq
                        //$("'#"+kk+"'").hide();
                            location.reload()

                        });
                    }
                    else if (data.return != 'success') {
                        swal({
                            title: "Warning",
                            text: "등록 실패",
                            icon: "warning",
                            buttons: true,
                            dangerMode: false,
                        }).then(function(willDelete) {
                            if (willDelete) {
                                return
                            } else {
                                return
                            }
                        });
                    }
                },
            });
        }
    }


</script>
</%block>


