<%inherit file="../base/base.html"/>

<%block name="css">
<link rel="stylesheet" href="/static/board/board.css">

</%block>

<%block name="containor">
<div class="board_container">

    <div class="board-header-button">
        <button type="button" class="btn btn-danger btn-submit">게시글 작성</button>
    </div>

    <div class="board-box">
        <div class="board-title">게시글 제목</div>
        <div class="board-content"> flex-direction: column;flex-direction: column;</div>
    </div>
    <div class="board-box">
        <div class="board-title">게시글 제목</div>
        <div class="board-content"> 왜 색상은 어울리지 않는것인가 .</div>
    </div>
    <div class="board-box">
        <div class="board-title">게시글 제목</div>
        <div class="board-content"> 왜 색상은 어울리지 않는것인가 .</div>
    </div>
    <div class="board-box">
        <div class="board-title">게시글 제목</div>
        <div class="board-content"> 왜 색상은 어울리지 않는것인가 .</div>
    </div>

</div>

</%block>

<%block name="scriptDown">
<script>
    $(document).ready(function() {
        console.log("ready");
    })


</script>
</%block>
