<%inherit file="/base/base.html"/>

<%block name="css">
<link rel="stylesheet"  href="/static/login/login.css">
</%block>


<%block name="containor">
<div class="login_container">

    <div class="login_box">
        <div class="login-logo">
            L O G  I N
        </div>
        <div class="login_item_input">
            <div class="form-group">
                <label for="exampleInputEmail1">ID</label>
                <input type="TEXT" class="form-control" id="login_id"  placeholder="ID">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="login_pw" placeholder="Password">
            </div>
        </div>

        <div class="login_item_button">
            <button type="button" class="btn btn-primary btn-regist">Regist</button>
            <button onclick="btn_login()" type="button" class="btn btn-success btn-login">Login</button>
        </div>

    </div>

    <div class="regist_box">
        <div class="regist-logo">
            R E G I S T
        </div>
        <div class="regist_item_input">
            <div class="form-group">
                <label >ID</label>
                <input type="TEXT" class="form-control" id="reg_id" placeholder="ID">
            </div>

            <div class="form-group">
                <label >Password</label>
                <input type="password" class="form-control" id="reg_pw" placeholder="Password">
            </div>

            <div class="form-group">
                <label >Password2</label>
                <input type="password" class="form-control" id="reg_pw2" placeholder="Password2">
            </div>

            <div class="form-group">
                <label >Name</label>
                <input type="TEXT" class="form-control" id="reg_name" placeholder="Name">
            </div>

            <div class="form-group">
                <label >Phone number</label>
                <input type="TEXT" class="form-control" id="reg_ph" placeholder="Phone number">
            </div>
        </div>
        <div class="regist_item_button">
            <button type="button" id="back" class="btn btn-primary btn-back">Back</button>
            <button onclick="btn_regist()" type="button" class="btn btn-success btn-real-regist">Regist</button>
        </div>
    </div>

</div>
</%block>

<%block name="scriptDown">
<script>

    $(document).ready(function() {

        console.log("ready");
        $('.regist_box').hide()
        $('.btn-regist').click(function(){
            $('.regist_box').show()
            $('.login_box').hide()
        })
        $('#back').click(function(){
            $('.regist_box').hide()
            $('.login_box').show()
        })
    });

    function btn_login(){
        var user_id = $('#login_id').val();
        var password = $('#login_pw').val();

        if (user_id == '') {
            swal("Error","ID를 입력하세요", "warning");
            lock = 1;
        }

        else if(password == '') {
            swal("Error", "Password를 입력하세오", "warning");
            lock = 1;
        }
        if(lock ==0){
            $.ajax({
                type: "POST",
                url: "/login/login",
                data: {
                    'csrfmiddlewaretoken': '${csrf_token}',
                    user_id: user_id,
                    password: password

                },
                success: function (data) {

                    if (data.return == 'success') {
                        swal({
                            title : "Success",
                            text : "로그인 완료",
                            type : "success"
                        }).then(function(){
                            alert("생성 성공");
                            location.reload()
                        });
                    }
                    else if (data.return != 'success') {
                        swal({
                            title: "Good job!",
                            text: "You clicked the button!",
                            icon: "success",
                            button: "Aww yiss!",
                        }).then(function(willDelete) {
                            if (willDelete) {return}
                            else {return}
                        });
                    }
                },
            });
        }
    };

    function btn_regist(){

        var user_id = $('#reg_id').val();
        var password = $('#reg_pw').val();
        var password2 = $('#reg_pw2').val();
        var name = $('#reg_name').val();
        var ph = $('#reg_ph').val();

        var lock=0;

        if (user_id == '') {
            swal("Error","ID를 입력하세요", "warning");
            lock = 1;
        }

        else if(password == '') {
            swal("Error","Password를 입력하세오", "warning");
            lock = 1;
        }
        else if(password2 == '') {
            swal("Error","Password2를 입력하세오", "warning");
            lock = 1;
        }
        else if (password != password2){
            swal("Error","password 가 같지 않습니다.", "warning");
            lock = 1;
        }

        else if(name == '') {
            swal("Error","이름을 입력하세오", "warning");
            lock = 1;
        }

        else if(ph == '') {
            swal("Error","핸드폰 번호를 입력하세오", "warning");
            lock = 1;
        }

        if(lock ==0){
            $.ajax({
                type: "POST",
                url: "/login/regist",
                data: {
                    'csrfmiddlewaretoken': '${csrf_token}',
                    user_id: user_id,
                    password: password,
                    name: name,
                    ph: ph,
                },
                success: function (data) {
                    if (data.return == 'success') {
                        swal({
                            title : "Success",
                            text : "등록 완료",
                            type : "success"
                        }).then(function(){
                            location.reload()
                        });

                    }
                    else if (data.return != 'success') {
                        swal({
                            title: "Warning",
                            text: "등록 실패",
                            icon: "error",
                            button: "Oh No!!",
                        }).then(function(willDelete) {
                            if (willDelete) {
                                return
                            } else {
                                return
                            }
                        });
                    }
                },
            });

        }

    };


</script>
</%block>
