<%inherit file="../base/base.html"/>

<%block name="css">
<link rel="stylesheet"  href="/static/login/login.css">
</%block>


<%block name="containor">
<div class="login_container">

    <div class="login_box">
        <div class="login-logo">
            L O G  I N
        </div>
        <div class="login_item_input">
            <div class="form-group">
                <label for="exampleInputEmail1">ID</label>
                <input type="TEXT" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ID">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>

        <div class="login_item_button">
            <button type="button" class="btn btn-primary btn-regist">Regist</button>
            <button onclick="btn_login()" type="button" class="btn btn-success btn-login">Login</button>
        </div>

    </div>

    <div class="regist_box">
        <div class="regist-logo">
            R E G I S T
        </div>
        <div class="regist_item_input">
            <div class="form-group">
                <label >ID</label>
                <input type="TEXT" class="form-control" id="exampleInputEmail1" placeholder="ID">
            </div>

            <div class="form-group">
                <label >Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <div class="form-group">
                <label >Password2</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password2">
            </div>

            <div class="form-group">
                <label >Name</label>
                <input type="TEXT" class="form-control" id="exampleInputEmail1" placeholder="Name">
            </div>

            <div class="form-group">
                <label >Phone number</label>
                <input type="TEXT" class="form-control" id="exampleInputEmail1" placeholder="Phone number">
            </div>
        </div>
        <div class="regist_item_button">
            <button type="button" id="back" class="btn btn-primary btn-back">Back</button>
            <button onclick="btn_regist()" type="button" class="btn btn-success btn-real-regist">Regist</button>
        </div>
    </div>

</div>
</%block>

<%block name="scriptDown">
<script>
    $(document).ready(function() {
        console.log("ready");
        $('.regist_box').hide()
        $('.btn-regist').click(function(){
            $('.regist_box').show()
            $('.login_box').hide()
        })
        $('#back').click(function(){
            $('.regist_box').hide()
            $('.login_box').show()
        })
    })

    function btn_login(){
        swal("Good job!", "로그인 성공!", "success");
    };
    function btn_regist(){
        location.reload();
        swal("Good job!", "계정이 생성되었습니다.", "success");

    }


</script>
</%block>
