<%inherit file="../base/base.html"/>

<%block name="css">
<link rel="stylesheet" type="text/css" href="/static/login/login.css">
</%block>


<%block name="containor">
<div class="login_container">
    <div class="login_box">
        <div class="login_item_input">
            <label style="font-size: 25px;">ID</label><input type="text" class="login_input">
            <label style="font-size: 25px;">PW</label><input type="text" class="login_input">

        </div>
        <div class="login_item_button">
            <button id="reg" class="button_reg">Regist</button>
            <button onclick="btn_login" class="button_reg">Login</button>
        </div>

    </div>

    <div class="regist_box">
        <div class="regist_item_input">
            <label style="font-size: 25px;">ID</label><input type="text" class="regist_input">
            <label style="font-size: 25px;">PW</label><input type="text" class="regist_input">
            <label style="font-size: 25px;">PW2</label><input type="text" class="regist_input">
            <label style="font-size: 25px;">Name</label><input type="text" class="regist_input">
            <label style="font-size: 25px;">PhoneNumber</label><input type="text" class="regist_input">
        </div>
        <div class="regist_item_button">
            <button id="back" class="button_reg">Back</button>
            <button onclick="btn_regist" class="button_reg">Regist</button>
        </div>
    </div>

</div>
</%block>

<%block name="scriptDown">
<script>
    $(document).ready(function() {
        console.log("ready");
        $('.regist_box').hide()
        $('#reg').click(function(){
            $('.regist_box').show()
        })
    })

</script>
</%block>
