body{
}
.login_container{
    min-height: 1000px;
    min-width: 700px;
}

.login_box{
    border: 1px solid #999999;
    background-color: #FFFFFF;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    padding-bottom:50px;
    border-radius: 5px;
}

.login-logo{
    font-family: 'Gamja Flower', cursive;
    display: flex;
    justify-content: center;
    margin-top:30px;
    margin-bottom:25px;
    font-size: 40px;
}

.btn-regist{
    width: 40%;
    margin-top:15px;
    margin-right: 40px;
}

.btn-login{
    width: 40%;
    margin-top:15px;
}

.login_item_input{
    padding-left: 30px;
    padding-right: 30px;

}
.login_item_button{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.button_reg {
    font-size: 25px;
    width: 120px;
    border-radius: 12%;
    background: linear-gradient( 200deg, #ffffff, #f0f0f5 );

}
.button_reg:hover{
    box-shadow:
            0 0 0 4px rgba(0,0,0,0.3) inset,
            0 0 0 150px rgba(0,0,0,0.1) inset;
}

.login_input{
    margin-bottom: 30px;
    width:260px;
    font-size: 20px;
}
.login_button{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border: solid 1px black;
}



.regist_box{
    margin-top: 100px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 350px;
    min-height: 700px;
    border: solid 2px #1b1e21;
    border-radius: 5%;
    background-color: #E6E6E6;
    background: linear-gradient( 50deg, #ffffff, #E6E6E6 );


}
.regist_item_input{
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}
.regist_input{
    margin-bottom: 20px;
    width:260px;
    font-size: 20px;
}
.regist_item_button{
    flex-direction: row;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.button_reg:link {color: #0b2e13; text-decoration: none;}
.button_reg:visited {color: #0b2e13; text-decoration: none;}
.button_reg:hover{color: #0b2e13;}
.button_reg:active{color: #1b1e21;}

#ff{
    color: red;
}
#reg{
    margin-right: 30px;
}
#back{
    margin-right: 30px;
}