.login_container{
    margin: auto;
}

.login_box{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height:400px;
    width: 200px;
    border: solid 1px black;

}
.login_item{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height:250px;
    width: 150px;
    border: solid 1px black;

}


.regist_box{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height:400px;
    width: 200px;
    border: solid 1px black;

}
.regist_item{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height:250px;
    width: 150px;
    border: solid 1px black;

}
#ff{
    color: red;
}
